[2022-02-05 15:02] fracek opened #6 "Use multicall in `useStarkNetCall`"
The hook should batch together all registered calls and send only one multicall request, then deduplex the output back to the original caller.

[2022-02-05 16:10] fracek opened #7 "Update account when user switches account in Argent X"
The value of `account` returned by `useStarknet` should be updated when the user switches account in their wallet.

[2022-02-07 09:57] fracek opened #17 "Should connectors be their in their own package?"
Web3 React distributes connectors in their own package, while wagmi comes battery included. At the time of writing there is only one connector (Argent X) so it makes sense to include it by default.

What should we do in the future when more connectors become available?

[2022-02-09 22:37] fracek opened #33 "Correctly detect if user has extension installed"
Currently the provider does not detect if the user has the extension installed. Need to check for `window.starknet && window.starknet.version === 'uninstalled'`.

[2022-03-01 11:46] fracek opened #42 "Update example abi"
The abi from `starknet-compile --abi` is an array, while the example uses a json object. It should be updated.

[2022-03-05 01:54] open3x opened #44 "`useStarknetInvoke`, invoke method always return undefined"
I want to track transaction status. but invoke method always return undefined.

[2022-03-05 10:37] fracek commented on #44
Do you have a minimal sample to reproduce the issue?

[2022-03-08 17:10] davisbento opened #45 "Documentation Getting Started is wrong"
In the documentation: https://auclantis.github.io/starknet-react the **Getting Started** section has a wrong code.

![image](https://user-images.githubusercontent.com/15023064/157288705-a0659f59-6541-4132-909b-838396fdd6e4.png)

And I think it could be nice to have the yarn/npm command sections.

I think it's easy to fix, I'd like to send the PR to fix it?

[2022-03-08 19:57] fracek commented on #45
Thank you for spotting this. If you open a PR I will review it.

[2022-03-09 11:17] #45 closed

[2022-03-10 14:19] tarrencev commented on #17
I think doing something similar to wagmi and providing first party supported connectors and an interface for introducing new ones would be a good approach.

What do you think of providing an interface that matches this?
https://wagmi.sh/guides/connect-wallet

I'd be happy to contribute to modularizing it a bit, so we can introduce new providers without introducing breaking changes in the future.

[2022-03-10 14:25] fracek commented on #17
I think that interface looks great. The main difference will be with the `useConnect` hook, let's not use the `[{ data }, action]` return value like wagmi does.

[2022-03-13 11:17] fracek opened #52 "Transaction status changed notification"
Some apps show notifications when the transaction status changes. The library should provide a mechanism for developers to register a callback invoked every time a transaction status changes.

[2022-03-14 13:20] fracek commented on #42
Fixed in #49

[2022-03-14 13:20] #42 closed

[2022-03-14 13:21] fracek commented on #17
Fixed in #51

[2022-03-14 13:21] #17 closed

[2022-03-14 13:24] fracek opened #54 "Mock connector for testing"
We should make it as easy as possible for users to test their code. The mock connector should simulate a real connector (e.g. `InjectedConnector`) and expose two additional methods: `accept()` and `reject()` to accept and reject user requests (connect, submit, etc).

[2022-03-16 10:59] hypekn1ght opened #58 "ConnectorNotFoundError"
after running

`npx create-next-app@latest --example https://github.com/auclantis/starknet-react/tree/main/examples/starknet-react-next`

I tried to use the connect button and received ConnectorNotFoundError on the chrome console.

when I console log the error output from useStarknet, I'd get "could not activate Starknet" any idea what I'm missing here?

[2022-03-17 11:11] fracek opened #59 "Custom default provider"
Should be able to customize the default provider used if Argent-X is not connected.

Proposed API:

[code]

[2022-03-17 16:24] fracek commented on #58
Fixed in version 0.6.2. Thank you for the report.

[2022-03-17 16:24] #58 closed

[2022-03-17 16:24] fracek commented on #59
Fixed in 0.6.2.

[2022-03-17 16:24] #59 closed

[2022-03-23 10:08] ccarnino opened #68 "useStarknetCall always returns undefined"
Hello team!
I have a local web app I am developing, pointing to Goerli with the latest starknet-react package (as of this morning) and the latest ArgentX setup.

In a page I am able to successfully invoke the mint on [this NFT contract](https://goerli.voyager.online/contract/0x020f8601fe76cc5cbed3a0c71dfa7e41fec208c31328682d47adc5b0682c38ae) I deployed. But on another page I am failing to call a f

[2022-03-23 10:42] fracek commented on #68
`useStarknetCall` requires `args: []` if the function does not take any arguments. It's implemented this way so that you can force the hook _not to_ fetch data if you know you don't have all the required arguments.

Also I recommend changing `useChannelContract` to its own variable `const { contract } = useChannelContract()`.

[2022-03-23 11:03] ccarnino commented on #68
Thanks a lot for the advices. It would be useful in the docs to have two simple components that use the call and invoke hooks, so it's more immediate. And I could have avoided wasting your time :D

Thanks a lot for the help!

[2022-03-23 11:03] #68 closed

[2022-03-31 02:26] tarrencev opened #69 "Auto connect fails to connect in production builds"
Do you have any thoughts around supporting [auto connect](https://wagmi.sh/docs/provider#autoconnect-optional)? It would support reconnecting when a connection has already been approved previously. Currently it seems most people do a hard connect, which prompts the user as soon as they land on a page, which I think is an anti-pattern.

[2022-04-01 09:18] fracek commented on #69
Hey, yes I think we should have it. Argent added `starknet.isPreauthorized()` for this use-case. I like the wagmi api for this where you pass a `autoConnect` prop to the `StarknetProvider` at the root.

[2022-04-11 19:16] starwalker00 opened #70 "Add invoke method to transaction manager"
Hello,

It would be useful to be able to get the method involved in the transaction ( and maybe more? ) when using ```useStarknetTransactionManager```.

TCALSS :

**From this:**
https://github.com/auclantis/starknet-react/blob/a09a87b87e1afddb23a766a5990903c599b5e603/packages/core/src/hooks/invoke.ts#L95

**To this:**
```addTransaction({ status: response.code, transactionHash: response.transaction

[2022-04-13 09:16] ltoussaint commented on #69
Hello @fracek
I have a problem with `autoConnect` with the following error

[code]

The problem is at the very beginning `starknet` is not yet injected into the website, so `globalThis['starknet']` is `undefined`.
It appears when I refresh the page (without forcing the cache to refresh) on a simple app which load very quickly.
Do you have any idea how we could wait for `starknet` to be injected? (

[2022-04-13 11:52] fracek commented on #69
I cannot reproduce exactly your issue, but it's true that with a production build auto connect doesn't work. Will fix it.

[2022-04-13 13:06] tarrencev commented on #69
Hmm a simple solution for the race condition that might be worth trying is to wrap the access to `globalThis['starknet']` in a `setTimeout(..., 0)` so it is placed at the end on the event loop. I'm not sure what the order of operations looks like for making argent available on the global context

[2022-04-13 13:11] fracek commented on #69
Even with `setTimeout(..., 0)` the issue persist. Adding a 100ms delay fixes this issue but it's kinda horrible.

[2022-04-13 13:47] tarrencev commented on #69
Hmm yeah thats not ideal. I wonder if this is something argent needs to address? It doesn't look like an issue with metamask/wagmi. Perhaps there is something different about `globalThis` vs `window` and we should try accessing it on window instead?

[2022-04-13 14:09] fracek commented on #69
That does solve the issue. It feels like the argent detection code could be improved, but I don't know exactly how.

[2022-04-13 14:14] fracek commented on #70
I think we should call the extra field something like `description` or `summary`. We should update `invoke` to also accept a parameter to set this field on the transaction.

@dhruvkelawala also added something similar for Solve 2 Mint.

[2022-04-13 14:58] ltoussaint commented on #69
@tarrencev on chrome with only ArgentX as extension, it's still not working.

Thing is, it's a minimalistic example, most of the time dApps will be bigger, take more time to load and so let starknet inject its content into `globalThis`

[2022-04-13 15:39] fracek commented on #69
Interesting, it looks like your issue is that it takes much longer to inject `starknet` in the window. This does look odd and I can't reproduce it.

Can you try add a `setTimeout(tryAutoConnect(...), TIMEOUT)` and check for which values of `TIMEOUT` it works?

[2022-04-13 21:36] ltoussaint commented on #69
Ok so I found some interesting things.

In development mode, with the chrome developer console open, it start to fail with a timeout around 50ms.
But with the chrome developer console closed, it never fails at 50ms.

At 0ms, it fails every time.

Now I built the project and run it locally
With the developer console open, it fails almost every time
With the developer console closed, it almost never

[2022-04-14 09:34] fracek commented on #69
It looks odd indeed. Let's ship the workaround that fixes the issue sometimes but let's keep this issue open.

[2022-04-15 08:31] naps62 opened #75 "Add options to invoke"
I'd like to set `{ max_fee: 0 }` on an invoke call. As far as I understand, this is a third options argument to `contract.invoke`, which this package currently does not support

[2022-04-15 09:26] fracek commented on #75
I agree, `invoke` should accept an `opts` property that is forwarded to starknet.js.

[2022-04-15 09:28] fracek commented on #44
Closing due to inactivity.

[2022-04-15 09:28] #44 closed

[2022-04-24 09:27] rootulp opened #79 "disconnect wallet"
It seems like starknet-react doesn't support disconnecting the connected wallet. Would maintainers consider supporting a `disconnect()`?

Ref:
https://github.com/apibara/starknet-react/blob/main/packages/core/src/connectors/base.ts#L20=

[2022-04-24 13:14] tarrencev commented on #79
I think this would be a welcomed contribution!

[2022-04-24 13:25] fracek commented on #79
Yep, I'm happy to review a PR for this.

[2022-04-24 14:10] fracek opened #81 "Improve connector abstraction"
At the moment the connector abstraction is very bare bone, consisting only of the `InjectedConnector` class (and the proposed testing connector in #54). Now we have a new wallet (see #77) and so it makes sense to improve what is available.

As a React library we have a few of design goals:

 1. Give maximum control to developers when it comes to the UI and UX of their application. Embedding a moda

[2022-04-24 14:20] fracek commented on #81
I think the best way forward is to continue improving on the connectors interface we have. There should be a way to list StarkNet wallets installed by the user (for example, have a global dictionary `window.starknetWallet[id] => wallet`) that we can leverage when building connectors. Then we would add:

 - Wallet specific classes (`ArgentConnector`, `BraavosConnector`, etc).
 - An helper function

[2022-04-24 14:21] fracek commented on #81
/cc @tarrencev @janek26 @avimak

[2022-04-25 23:01] greenlucid opened #82 "Deploy contracts"
Add a feature to deploy contracts to Starknet

[2022-04-28 12:19] ltoussaint opened #83 "Improve rendering amount using some hooks"
Hello there,

I have an issue regarding the number of renders for component using some hooks.

Some of them (like `useStarknetCall` or `useStarknetBlock`) automatically refresh their data when a new block occures.
The problem is that even when there are no new blocks, it causes a render of all components (and by extension children) using those hooks.

I created a [repository](https://github.com/lt

[2022-04-29 20:05] #79 closed

[2022-04-29 20:09] fracek commented on #83
Thank you for creating a repo to reproduce the issue. I will look into it.

[2022-04-29 21:24] fracek commented on #83
Fix in #88. Now the block number updates much less often.

[2022-04-29 21:24] #83 closed

[2022-04-30 10:09] fracek opened #90 "Update npm documentation"
The link in the documentation is currently broken.

[2022-05-02 20:51] Pet3ris opened #91 "nit: Missing import in documentation"
Is the second section in https://apibara.github.io/starknet-react/ missing an import declaration for `InjectedConnector`?

[code]

[2022-05-03 07:15] Pet3ris opened #92 "nit: useStarknet documentation is missing connectors variable"
https://apibara.github.io/starknet-react/hooks/starknet

The connectors variable here: https://github.com/apibara/starknet-react/blob/51c0803eb7294552c4913c9592b0a69913a16ef1/packages/core/src/providers/starknet/model.ts#L8 is missing from the above documentation.

[2022-05-03 07:52] Pet3ris opened #93 "Possible violation of types when using `useStarknet`"
I'm observing the following object when connecting via `useStarknet`:

![image](https://user-images.githubusercontent.com/224585/166420062-5108b5a8-16e4-4d32-847c-2da74453850c.png)

This seems to be in violation of the types seen here:

https://github.com/apibara/starknet-react/blob/51c0803eb7294552c4913c9592b0a69913a16ef1/packages/core/src/providers/starknet/model.ts#L4

[code]

Should this mean

[2022-05-03 13:42] Pet3ris opened #94 "What is the idiomatic way for checking if an account is connected?"
In wagmi, the idiomatic way to check if the wallet is connected seems to be to check `accountData` using `useAccount`.

Is it fair to say that the idiomatic way for `starknet-react` is to check the `account` variable returned from the `useStarknet` hook?
https://apibara.github.io/starknet-react/hooks/starknet

[2022-05-03 13:44] fracek commented on #94
Correct, if the user is not connected account will be `undefined`.

[2022-05-03 13:44] fracek commented on #92
Will update the docs, thank you for this.

[2022-05-03 13:44] fracek commented on #91
Will update the docs, thank you for this.

[2022-05-03 14:05] #92 closed

[2022-05-03 14:05] #91 closed

[2022-05-03 14:05] fracek commented on #90
Fixed in #95

[2022-05-03 14:05] #90 closed

[2022-05-03 14:13] Pet3ris opened #97 "Issue when both ArgentX and Braavos wallets enabled"
Running into this issue on Brave where if both ArgentX and Braavos wallets are enabled, I get the following error:

![Screen Shot 2022-05-03 at 3 12 24 PM](https://user-images.githubusercontent.com/224585/166470013-70a2b986-62f1-4e37-af35-a22f82b64889.png)

[2022-05-03 14:15] #94 closed

[2022-05-03 14:20] fracek commented on #97
Related to #77. Need to fix this ASAP.

[2022-05-03 14:27] Pet3ris opened #98 "UseCallContract response type loses type information for result"
The call contract response from starknet.js returns an array of strings: https://github.com/0xs34n/starknet.js/blob/cd88fc8747897002b48c48da94c4da60ba739e87/src/types/api.ts#L145.

[code]

However, the corresponding type in `starknet-react` is an array of `any`. Could this be restricted to an array of strings?

https://github.com/apibara/starknet-react/blob/51c0803eb7294552c4913c9592b0a69913a16ef1

[2022-05-03 14:54] #70 closed

[2022-05-03 15:04] fracek commented on #98
The type definition in starknet.js is wrong. The return value is a weird array with keys(!), the objects are deserialized from a flat felt array to their type (so for example `balanceOf` has one element that is an `uint256` struct). I talked with @janek26 about this, and they're open to a PR that adds type safety around contract calls.

[2022-05-03 17:23] Pet3ris opened #101 "`useStarknetCall` breaks if `useContract` is called before starknet provider loaded"
## Problem

I ran into the following situation:

I have some code that invokes the `useStarknetCall` hook right after the `useContract` hook.

[code]

There's no real magic in this code as it translates to the following JS:

[code]

I noticed an issue where if the contract is not yet loaded when the `useCallback` is called inside of the `useStarknetCall` hook, then the hook never refreshes it's ca

[2022-05-03 20:30] ltoussaint commented on #83
Thanks a lot

[2022-05-04 08:55] fracek commented on #101
I will look into this. It's pretty cool how your effort to bind this library to Rescript is uncovering a lot of issues.

[2022-05-04 08:55] fracek commented on #98
I will :)

[2022-05-04 09:06] fracek opened #102 "Support account's execute"
This is different from #6. The account interface exposes an `execute` method to invoke multiple external functions in one transaction.

The proposed interface is:

[code]

Where `execute` is:

[code]

## Example

[code]

Like `invoke`, `execute` checks that all calls arguments are defined before making the call.

[2022-05-04 09:07] fracek commented on #102
Since `execute` does not require changing any existing interface it can be added after v1.0.

What's your opininion on this interface @tarrencev  @pet3ris?

[2022-05-04 10:07] Pet3ris commented on #102
Would be great to have this function, I'm already using multicall right now for Yagi.

Regarding naming, I wonder if having more aligned naming between the invoke and this would make sense, e.g., `execute1` and `execute` or `invoke1` and `invoke` or `invoke` and `invokeMany`.

[2022-05-04 11:08] fracek commented on #102
I like `invokeMany` but we would be diverging from the standard name for the function which (I believe) is confusing.

[2022-05-04 12:58] tarrencev commented on #102
I like the proposed interface for execute. I'm wondering if we should deprecate `invoke` api in favor of a single execute api. It seems that is the direction the `AccountInterface` has taken:

[code]

[2022-05-04 13:15] fracek commented on #102
Looks like the `execute` method only accepts `RawCalldata`, I wonder if there's a reason for that? We also need to figure out how to add typesafety to the hook, my impression is that it's enough to add a `unknown[]` type parameter, where each `unknown` is the type of the input of each call.

/cc @janek26

[2022-05-04 14:23] avimak commented on #97
@fracek the root cause actually sits in argent's extension, see [here](https://github.com/argentlabs/argent-x/blob/develop/packages/extension/src/inpage/index.ts#L161)

[2022-05-04 15:48] fracek commented on #97
Where should we track this issue? /cc @janek26

[2022-05-05 21:40] Pet3ris commented on #101
Version mismatch 🤦‍♂️. Had to write my own hook to nail down underlying issue (contract.connectedTo got changed to contract.address in starknet.js) but all good now.

[2022-05-05 21:41] #101 closed

[2022-05-08 21:02] Pet3ris opened #103 "Hook arguments and return values are not composable"
I'm running into situations where an output of one call needs to be composed as the input to another contract call. Unfortunately, it seems that current argument types are based on arrays of strings and current output types have more type information (for example returning `BN.js` types).

I wonder if it would make sense to decide on a default in-js representation for felts and other types and usi

[2022-05-09 08:33] fracek commented on #103
I agree with that, need to send a PR to starknet.js to have more consistent types for calls inputs and outputs.

[2022-05-09 08:50] Pet3ris commented on #103
Thanks @fracek for the triage. I'll update my mental model of this library as a lightweight wrapper :)!

[2022-05-09 11:36] Pet3ris opened #104 "Introduce hooks for low-level contract calls and invocations"
There are some use cases which may mandate using the low-level `starknet.js` operations `callContract` and `invokeFunction`. However, today, no hook api exists for them. This is particularly useful in StarkNet where we don't need the full contract signature to call a function.

Examples:

- Rapid prototyping (e.g., only need to call 1 function without providing abi)
- Low-level interactions (e.g.,

[2022-05-09 11:43] fracek opened #105 "Match `wagmi` API"
The [new version of wagmi](https://wagmi.sh/docs/getting-started) changed their API and now it's closer to the API in `starknet-react`.
From a discussion with @pet3ris we started thinking about aligning our API to wagmi's since now the differences are minuscule.

The changes will be:

 * Rename hooks to follow `wagmi`'s names
 * Rename hooks return values to match wagmi's. Most return values alrea

[2022-05-09 11:48] fracek commented on #104
Agree with this. We should add the following hooks:

 * `useProviderCall` that has the same behaviour as the current call hook, but calls `provider.callContract`
 * `useProviderInvoke` that uses `provider.invokeFunction`

[2022-05-10 16:09] ltoussaint opened #106 "Allow to disable autorefresh when using `useStarknetCall`"
I have a use case where the data of a contract will never change.
For this reason I want to prevent my app to refresh those data and I can only do it using `starknet.js`

As auto-refresh is a great feature, we should give the possibility to disabled this auto refresh.
Maybe
- with an option to the `useStarknetCall` hook
-  by creating a specific hook
- or maybe by leveraging on the new hook from t

[2022-05-15 09:01] Pet3ris commented on #106
+1, this would be useful. It also comes as part of the wagmi api: https://wagmi.sh/docs/hooks/useContractRead#watch-optional.

Related: https://github.com/apibara/starknet-react/issues/105

[2022-05-16 12:41] ltoussaint opened #107 "Replace combination of `useEffect` + `setState` by `useMemo`"
I take the example of `useContract` which use this combination.

It would give better performance and more readability to use `useMemo` instead.

Plus, we will not have to wait for `setState` to be called to be able to use the contract.
When using `useContract`, we have to deal with the possibility that the contract is undefined, which will not be the case when using `useMemo`.

Here is a little p

[2022-05-17 07:59] ltoussaint commented on #105
Very interesting.
Maybe could be a good idea to split this "refactoring" into several issues, it will help :
- to get the list of changes to do
- for people to know exactly how to help on small features
- to open discussion on specific features

[2022-05-24 08:22] arochedy opened #108 "not working with create-react-app ?"
I I'm trying to use this library in a create-react-app app

I have this error :

[code]

[2022-05-24 08:59] fracek commented on #107
Good catch, I will update it.

[2022-05-24 08:59] fracek commented on #106
Agree.

[2022-05-31 00:37] ponderingdemocritus commented on #102
It would be a nice feature if the calls were view exposed so within a UI you could easily show a 'tx cart' style element. Think like a ecomm cart.

For games specifically, it might make sense to seriously batch transactions together, as if they are updating similar state values (erc20 transfer eg) in 10 transactions, then it is effectively 1 storage update. Extend this to an 1155 style and the sav

[2022-06-01 06:50] ponderingdemocritus commented on #102
![Screenshot from 2022-06-01 16-45-43](https://user-images.githubusercontent.com/90423308/171344468-f17a83d7-3612-4999-8317-f5204bb8535a.png)

Pulled from StarkNet fees - This is a huge potential saving if we batch transactions.

[2022-06-01 08:07] Pet3ris commented on #97
This is a good tweet from Vitalik of the benefit of testing with multiple wallets: https://twitter.com/VitalikButerin/status/1531771109602799617.

[2022-06-02 09:54] fracek commented on #102
I agree this looks cool. To make it happen we need to figure out a good API for execute, then we can think about that type of component built on top.

[2022-06-02 14:57] fracek commented on #97
#109 fixes this. Let's get it merged.

[2022-06-04 20:20] fracek commented on #93
This is now fixed.

[2022-06-04 20:20] #93 closed

[2022-06-04 20:21] fracek commented on #97
This is now fixed.

[2022-06-04 20:21] #97 closed

[2022-06-04 21:28] fracek commented on #75
Fixed in #116

[2022-06-04 21:28] #75 closed

[2022-06-04 22:08] fracek commented on #81
So I thought more about this and my conclusion is that `InjectedConnector` needs to be specific to a single injected wallet for it to work well.  With the current abstraction it's impossible to escape the modal included in get-starknet. We should then provide an helper function to create a list of injected connectors based on what the user has installed.

The frontend developers are then responsib

[2022-06-04 22:31] fracek commented on #107
Done in #120

[2022-06-04 22:31] #107 closed

[2022-06-04 22:31] fracek commented on #106
Included in #120

[2022-06-04 22:31] #106 closed

[2022-06-05 09:20] fracek commented on #54
This is super useful combined with cypress to have end-to-end tests.

[2022-06-13 11:56] CoFlows opened #126 "Call / Invoke from Account Contract"
Hello,

Could you please add an example that shows how to call a function from the account contract such that the get_caller_address() doesn't return 0?

Thanks

[2022-06-14 23:42] RedBeardEth opened #128 "Transactions not updating on Goerli"
The transactions are being polled but the state is not updated to the correct status - likely due to the transaction hash being contained within the  transaction object on Goerli

[code]
![image](https://user-images.githubusercontent.com/90423049/173707060-a1f2780d-7336-4d95-b45f-179b0250e000.png)

[2022-06-16 08:14] Arcticae commented on #128
The situation will ocur now on mainnet as well, since it has been updated to 0.9.0. Please also note that starknet.js has updated their typings in [this PR](https://github.com/0xs34n/starknet.js/pull/219)

[2022-06-16 17:00] Arcticae commented on #128
I made a PR which fixes that:
https://github.com/apibara/starknet-react/pull/129

[2022-06-16 18:07] fracek commented on #128
Fixed in release 0.11.1. Thank you  for the help!

[2022-06-17 01:05] sam0110 opened #131 "Add a message signing hook"
Implement a message signing hook based on `wagmi`'s [useSignTypedData](https://wagmi.sh/docs/hooks/useSignTypedData).

[code]

Related to #105 since we want to match the APIs.

[2022-06-18 23:37] sam0110 commented on #131
I opened PR #132 to add this.

[2022-06-22 15:27] Marchand-Nicolas opened #134 "Eth contract: bug with hooks, but not with the other syntax (ethContract.approve(...) for example)"
[code]

(when it doesn't work, absolutely nothing happens, no error)

Here is the eth contract : https://goerli.voyager.online/contract/0x4bb0f7af15a5469be4a571c8660d9aaf39e7e67f27f774702d75e77141ef90#writeContract

![image](https://user-images.githubusercontent.com/60229704/175068736-b65df92a-6082-4ccb-8dc3-ad5bef664293.png)

Here is the eth contract ABI :
https://pastebin.com/YxyfivFr

I also tr

[2022-07-01 09:29] Pet3ris opened #135 "`get-starknet` breaks ArgentX wallet integration"
It seems that the latest version mandates using `get-starknet` as opposed to the connectors approach which was used before. While it's great that users can now choose their preferred wallet, unfortunately, the popup is not showing to some of our users (including myself) on Chrome; even if they have ArgentX installed. It works fine on the Brave browser.

Any idea what could be causing the inconsist

[2022-07-01 12:01] fracek commented on #135
I believe this will be fixed by #127. I will try find time today to get it merged.

[2022-07-07 13:18] ltoussaint opened #141 "`useStarknetCall` set `loading` to `false` before the data is actually loaded"
In the `useEffect` of the `useStarknetCall` hook, we call `dispatch({ type: 'set_last_updated_at', blockHash: block.block_hash })` without waiting the `refresh` to finalize.
Which leads to set `loading` (and maybe `lastUpdatedAt`) to early.

https://github.com/apibara/starknet-react/blob/883cba7b7188201ab27baccf75f3569a3eec4cc3/packages/core/src/hooks/call.ts#L119-L120

- In think we should only a

[2022-07-11 14:40] Pet3ris commented on #135
Can confirm that this now works :).

[2022-07-11 14:40] #135 closed

[2022-07-13 21:34] kootsZhin opened #142 "Check user connected network after connecting wallet"
At the moment there seems to be no support in checking which network the user is connected to (e.g. Goeril or mainnet), i.e. the `chainId`.

It would be nice if we could possibly add some new features (e.g. hooks) for checking this - similar to what we have for `chainId` in [wagmi](https://github.com/tmm/wagmi) for EVM chains.

This is crucial because when mainnet launch we would not want the user

[2022-07-14 08:11] fracek commented on #142
I agree with this. The hook should also listen for network changed events on the wallet to keep the current network updated.

[2022-07-17 15:32] fracek opened #144 "Example and template should be two different projects"
PR #143 is failing to build because they added the new hook to the example, which uses the published version of the package.

The solution is to:

 * have the example package use the workspace version of the core package
 * have a separate template project called `create-starknet-app`. The project works like `create-next-app` to quickly setup a starknet application from different templates.

[2022-08-02 20:53] Pet3ris opened #153 "Custom RPC endpoint for calls"
Is there a way to configure calls to route to a custom endpoint, for example, the Cartridge powered node: https://twitter.com/cartridge_gg/status/1524391388841975808.

As a follow-up - is there a way to specify a cascading set of endpoints => if one fails to respond, the other will be used as a back-up.

[2022-08-02 21:28] fracek commented on #153
It's possible if you have a version of starknet.js that supports rpc providers. Just specify the rpc provider as `defaultProvider`.

[code]

[2022-08-07 07:28] Th0rgal commented on #69
Hey, I seem to have the same issue when publishing my projects in production. You can reproduce it by cloning https://github.com/starknet-id/starknet.id and deploying it on vercel. It works fine in local.
If you click on "claim your starknet.id" it should connect you automatically or ask you to chose a wallet if you have many, but if you refresh the page, it won't detect any wallet.
![image](https

[2022-08-11 13:42] #131 closed

[2022-08-11 13:42] fracek commented on #126
Closing since it's not clear what's the issue. Feel free to reopen and provide more details.

[2022-08-11 13:42] #126 closed

[2022-08-11 13:44] #103 closed

[2022-08-11 13:45] fracek commented on #102
Fixed in 9fb19b277723e508ed73

[2022-08-11 13:45] #102 closed

[2022-08-11 14:09] fracek commented on #52
The idea is to add a set of `onAccepted`, `onAcceptedOnL1` etc arguments to the hook. Every time the tx status changes, the user-provided callback is called.

[2022-08-11 15:26] Pet3ris commented on #103
@fracek - curious, did they fix it?

[2022-08-11 17:29] fracek commented on #103
My understanding is that [this commit from february](https://github.com/0xs34n/starknet.js/commit/3f7425ff0ac29dda2a7c9373856a4aa20002af9b) fixed it.

[2022-08-27 16:10] Th0rgal opened #156 "Bug with multicall: Connector not connected"
Hello,

It seems I have a bug with multicall and hardcoded connectors. I get the error "Connector not connected" when trying to do a multicall even though I am connected through argent-x.

Here is the repo at the right commit to reproduce it:
https://github.com/starknet-id/app.starknet.id/blob/98569303571a40040da1bbbb890a76b48e68ef38/components/domains/register.tsx

[2022-08-27 20:08] fracek commented on #156
I was able to send an approve multicall tx to approve the token (see [here](https://goerli.voyager.online/tx/0x6e03b276d00bfceb3504eed73cc4aaeec5b9515462c1967b7510b7cfff5b1f3)), so the issue seems to be related to something else. Will investigate further.

[2022-08-28 15:32] Th0rgal commented on #156
After some testings, it appears I only had that issue with argent-x. After installing Braavos it worked ...on Bravos and Argent-x.

[2022-08-28 15:47] fracek commented on #156
After more investigation, me and @Th0rgal  found that it seems related to specifying multiple connectors but then the user only has one wallet installed.

[2022-08-31 09:01] #156 closed

[2022-08-31 09:03] Th0rgal opened #158 "undefined address when using braavos"
Hey there,

We noticed an issue happening with Braavos (it worked fine with argent-x). After reloading the page, the multicall signing panel from braavos doesn't open when clicking on the button which calls the execute. The 'error' printed was ``Cannot read properties of undefined (reading 'address')``. Braavos team told us this could be because the connector was not injected properly (we hardcode

[2022-08-31 09:12] avimak commented on #158
1. @Th0rgal team is using `@starknet-react/core` "all in", e.g. not connecting directly with `get-starknet` or accessing the window injected object directly
2. they get the info from other hooks correctly (e.g. connected account's address, etc.)
3. when they call `useStarknetExecute` - while connected, with a valid `callData` object - the hook crashes at line 54 -
[code]

[2022-09-08 05:53] avimak commented on #158
hey @fracek, any updates on this one?

[2022-09-08 09:00] fracek commented on #158
Sorry, this was fixed in #159. Basically braavos was installed but not connected and so `account` was undefined and the code tried to access its `address` property.

[2022-09-08 09:00] #158 closed

[2022-09-08 09:13] avimak commented on #158
@fracek but why did it happen only with Braavos? all starknet wallets have an undefined `account` value while disconnected?

[2022-09-09 12:01] fracek opened #161 "Hook to get transaction status"
We should add a new hook to get a transaction by its hash.

[code]

[2022-09-13 08:52] onlydust-contributor commented on #82
@clementjuventin is working on this contribution
OnlyDust link : https://app.onlydust.xyz/contributions/0x007a

[2022-09-13 11:27] fracek opened #162 "Add unit tests"
Hooks should be tested, in the past we had issues caused by the root provider fetching blocks after unmount. We should re-introduce tests to the project.

[2022-09-14 12:58] onlydust-contributor commented on #7
@MavericksFive is going to work on this contribution

[2022-09-14 15:29] fracek opened #164 "Mainnet support"
Someone mentioned that the library is not working with StarkNet mainnet. We should investigate and fix this.

[2022-09-15 12:56] onlydust-contributor commented on #142
@clementjuventin is going to work on this contribution

[2022-09-19 14:44] nmalzieu opened #168 "getInstalledInjectedConnectors() may be empty on page load but not empty a bit later"
On pxls.wtf we had the following issue: sometimes the users couldn't log because there were no connectors.
I found that it happened when the user was reloading the page (command R on chrome).
At that point, the `getInstalledInjectedConnectors()` that gets called at the very beginning of my Next.js app was empty!

Right now, I fixed it the hacky way:
https://github.com/nmalzieu/pxls-frontend/blob/m

[2022-09-19 14:52] fracek commented on #168
This is a long standing issue and as you say there is no clear way forward. The wallets inject themselves at any point after the page loads and so it's impossible to detect them reliably. My guess is that users that experience issues have many extensions installed or slower computers. In your case, when you reload the page maybe chrome uses the cached version of the application and so the code is

[2022-09-19 16:09] nmalzieu commented on #168
Thanks for your quick answer!
I wonder if we shouldn't see connectors in 2 groups:
- connectors that we manually pass to the provider
- injected installed connectors that we find in the window object

When we use injected connectors, maybe we should just make the `connectors` and `available` properties of `useStarknet` methods that actually refresh them?

Do you know how wagmi handles this on Ethe

[2022-09-19 17:12] fracek commented on #168
In wagmi you need to specify the connectors manually so there is no issue. I agree `connectors` and `available` should be functions not values, probably a good idea to do that in the next breaking release.

[2022-09-22 19:31] YohanTz opened #169 "`disconnect` function from `useConnectors` only disconnect in the current "session" but not after a refresh"

[2022-09-22 20:02] YohanTz opened #170 "`autoconnect` reconnects to the wrong wallet after refresh when connecting to multiple wallets"
I tried connecting to Argent X, then disconnect from it and then connect to Braavos. After I hit refresh, I was connected to my Argent X wallet, while I was expecting to be connected to my Braavos wallet

[2022-09-22 20:27] fracek commented on #170
This is because the library is stateless, so it cannot track the last connected wallet.

We should add an option to use local storage to track of this.

[2022-09-22 22:18] YohanTz commented on #170
Ok I see ! I can work on it if needed 👍🏽 You can give me some pointers on how you want it to be implemented if you want 😄

[2022-09-27 19:15] fracek commented on #169
I believe this is related to #170, need to track the user preferences on top of wallet availability.

[2022-09-30 00:05] YohanTz commented on #169
Yes totally, I can give some help if needed, as mentioned in #170 🙂 @fracek

[2022-09-30 08:27] fracek commented on #169
Of course! I would wait for #171 to be merged (eta today) before start coding. Can you share a bit how you plan to add it? IIRC wagmi does something similar and they just use local storage.

[2022-09-30 16:52] YohanTz commented on #169
Ok, great ! I planned to simply store the last connected wallet id in the local storage and nothing if the wallet has been disconnected. This way, we can check on page load to which wallet we should try to connect

[2022-10-01 09:55] fracek commented on #162
This is now in main.

[2022-10-01 09:55] #162 closed

[2022-10-01 09:57] fracek commented on #164
I realized it's possible to change the default provider in `<StarknetConfig>`, so mainnet is supported.

Waiting for someone to confirm it's working on mainnet before closing.

[2022-10-01 09:58] fracek commented on #82
This is now released.

[2022-10-01 09:58] #82 closed

[2022-10-01 09:59] fracek commented on #141
Call now uses react-query under the hood which does not have this issue.

[2022-10-01 09:59] #141 closed

[2022-10-01 09:59] fracek commented on #161
This is now released.

[2022-10-01 09:59] #161 closed

[2022-10-01 10:00] fracek commented on #54
This can be done with `moq.ts`, so no need to reinvent the wheel.

[2022-10-01 10:00] #54 closed

[2022-10-01 10:02] fracek commented on #104
Another way to do this, change `useStarknetCall` to:

[code]

If it's a `Contract`, then the behaviour is the same as today. If it's a string, then it uses `callContract`.

For invoke, I think using `useStarknetExecute` is enough?

[2022-10-01 13:57] J4ckyLIM commented on #52
Hi can I take this contribution ?

[2022-10-01 19:21] fracek opened #174 "Hooks to fetch a transaction receipt"
We should have two hooks to fetch transaction receipts:

 - `useTransactionReceipt`
 - `useTransactionsReceipts`

[2022-10-01 19:49] J4ckyLIM commented on #174
I'll be glad taking this issue :)

[2022-10-03 10:43] fracek commented on #52
That sounds good! It looks like it can be done together with #174.

[2022-10-14 10:00] fracek opened #177 "Create ABI Type library"
Create a library [similar to abitype](https://github.com/wagmi-dev/abitype).

[2022-10-14 10:02] fracek opened #178 "Create type-safe ABI encoder/decoder"
We should create a type-safe encoder/decoder (based on #177) that then we can leverage in our hooks. This fixes #98

[2022-10-17 13:33] YohanTz commented on #169
Hey @fracek ! I just started to work on this issue, I just have a question about it, do we want this behaviour to be under the autoConnect option or under a new option that we can add ?

[2022-10-18 19:06] fracek commented on #174
Fixed in #180.

[2022-10-18 19:06] #174 closed

[2022-10-18 19:07] fracek commented on #170
Fixed in #186

[2022-10-18 19:07] #170 closed

[2022-10-18 19:07] fracek commented on #169
Fixed in #186.

[2022-10-18 19:08] fracek commented on #169
They way you implemented it is great!

[2022-11-21 12:42] fracek commented on #52
Fixed in #174

[2022-11-21 12:42] #52 closed

[2022-11-29 15:32] schwepps commented on #153
Hi! Not sure if I should create a separate issue.
I have provided a defaultProvider.
[code]
Where provider is testnet-2:
[code]

It's working well when the page is loaded.
When I connect a wallet, the provider is updated with the provider of the wallet which is fine.
But when I disconnect my wallet the defaultProvider is back to testnet-1 where it should be back to testnet-2.